{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->

<!-- Custom favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/images/favicon-192x192.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon-180x180.png' | relative_url }}">
<link rel="shortcut icon" href="{{ '/images/favicon.ico' | relative_url }}">
