{% include base_path %}

<!-- start custom head snippets -->
<meta name="google-site-verification" content="YzmkZVtLXDRXZIjSKPCfrvqQAzrvkiI0_O5vTeYdoTc" />
<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Custom favicon -->
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/favicon-192x192.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/favicon-180x180.png"/>
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico"/>
<meta name="theme-color" content="#5b8e7d"/>

<!-- end custom head snippets -->
